
<book>
  <div class="book my-4 p-2 text-white rounded">
  <div class="container book-heading">
	
    <h2>Let's start talking.</h2>
    <p class="lead">Looking for project focused expertise, frational leadership, or ongoing guidance from an expert&mdash;we can help. Tell us about your challenge, and we'll share some ideas on how to get where you want to go.</p>
	<a class="btn-lg book-button px-4 m-4 " href="https://calendar.app.google/8DcAe6uCT2Y1civp7" target="_blank" role="button">Book your consultation</a>
	<br>
  <img src="assets/img/noun-sign-FFFFFF.png" alt="Talk bubbles"   style="max-height: 200px; margin: 0%; padding:0;">
  <br>
  <script async src="https://subscribe-forms.beehiiv.com/embed.js"></script><iframe src="https://subscribe-forms.beehiiv.com/2560a0b5-6408-4af0-9eac-04f37882b6c5" class="beehiiv-embed" data-test-id="beehiiv-embed" frameborder="0" scrolling="no" style="width: 660px; height: 260px; margin: 0; border-radius: 0px 0px 0px 0px !important; background-color: transparent; box-shadow: 0 0 #0000; max-width: 100%;"></iframe>

</div>
</div>
 </book>